@model PaginationModel

<nav aria-label="...">
    <ul class="pagination justify-content-center">

        @if (Model.PreviousPage > 0)
        {
            if (Model.PreviousPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@Model.FirstPage" tabindex="-1">First</a>
                </li>
            }
           
            <li class="page-item enabled">
                <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@Model.PreviousPage" tabindex="-1">Previous</a>
            </li>
        }

        @for (int i = 0; i < Pagination.PaginationMaxPages; i++)
        {
            
        }

        <li class="page-item active">
            <a class="page-link" href="#">@Model.CurrentPage<span class="sr-only"></span></a>
        </li>

        @if (Model.LastPage == Model.CurrentPage)
        {@* 
            <li class="page-item disabled"><a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@Model.NextPage">@Model.NextPage</a></li>
            <li class="page-item disabled">
                <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@Model.NextPage">Next</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@Model.LastPage" tabindex="-1">Last</a>
            </li> *@
        }
        else
        {
            @* for (int i = Model.NextPage; i <= Model.NextPage + 5; i++)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@Model.NextPage">
                        @i
                    </a>
                </li>
            } *@
            //<li class="page-item"><a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@Model.NextPage">@Model.NextPage</a></li>
            <li class="page-item">
                <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@Model.NextPage">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@Model.LastPage" tabindex="-1">Last</a>
            </li>
        }
    </ul>
</nav>