@using RealEstate.Data.Models
@model SearchInputModel

@*TODO: Partial view for Locations and populate places!*@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-lg-6 col-sm-12 justify-content-center offset-md-2 offset-lg-3">
            <form method="post" class="form-a" id="searchForm">
                @Html.AntiForgeryToken()
                <div asp-validation-summary=All class="text-danger"></div>
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label asp-for="KeyWord" class="pb-2">Keyword</label>
                            <input asp-for="KeyWord" class="form-control form-control-lg form-control-a" placeholder="Keyword">
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <vc:Locations model="@Model"></vc:Locations>
                    <br />
                    <br />
                    <br />
                    <br />
                    <partial name="_PopulatedPlacePartial" />

                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label asp-for=Type class="pb-2"></label>
                            <select asp-for=Type class="form-control form-select form-control-a">
                                <option value="">Select Option Type</option>
                                <option value="@PropertyOption.Sale">@PropertyOption.Sale</option>
                                <option value="@PropertyOption.Rent">@PropertyOption.Rent</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label asp-for="BedRooms" class="pb-2"></label>
                            <input asp-for="BedRooms" class="form-control" placeholder="Total BedRooms" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label asp-for=Garages class="pb-2"></label>
                            <input asp-for="Garages" class="form-control" placeholder="Total Garages" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label asp-for=BathRooms class="pb-2"></label>
                            <input asp-for="BathRooms" class="form-control" placeholder="Total BathRooms" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <input asp-for="MinPrice" class="form-control" placeholder="Min price" />
                        </div>
                        <div class="form-group mt-3">
                            <input asp-for="MaxPrice" class="form-control" placeholder="Max price" />
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b" asp-controller="Property" asp-action="Search">Search Property</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>