@model PropertyInputModel

@{
    ViewData["Title"] = this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.Title));
    var locations = this.Model.Locations.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 offset-sm-3">
            <form class="form-group" method="post" enctype="multipart/form-data">
                <div class="title-box-d offset-4">
                    <h3 class="title-d"> @ViewData["Title"]</h3>
                </div>
                <div asp-validation-summary=All class="text-danger"></div>

                @*Type*@
                <div class="form-group">
                    <h1 style="font-size:large">
                        <label class="form-label">
                            @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.PropertyType))
                        </label>
                    </h1>
                    <select asp-for="PropertyTypeId" class="form-select">
                        <span asp-validation-for="PropertyTypeId" class="text-danger"></span>
                        @foreach (var type in Model.PropertyTypes)
                        {
                            <option value="@type.Id">@type.Name</option>
                        }
                    </select>
                </div>
                <br />

                @*Location*@
                <div class="form-group">
                    <h1 style="font-size:large">
                        <label>
                            @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.Location))
                        </label>
                    </h1>
                    <select asp-for="LocationId" asp-items="@locations" class="form-select" id="location">
                        <option value=""> @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.SelectLocation))</option>
                    </select>
                    <span asp-validation-for="LocationId" class="text-danger"></span>
                </div>
                <br />

                @*PopulatedPlace*@
                <div class="form-group" id="PopulatedPlacesHide">
                    <h1 style="font-size:large">
                        <label id="PopulatedPlaceIdLabel">
                            @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.PopulatedPlace))
                        </label>
                    </h1>
                    <select asp-for="PopulatedPlaceId" class="form-select" id="PopulatedPlaceId">
                        <option value="0">@this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.SelectPopulatedPlace))</option>
                    </select>
                    <span asp-validation-for="PopulatedPlaceId" class="text-danger"></span>
                </div>
                <br />

                @*Details*@
                <partial name="_Details" model="Model" />
                <br />
                <br />

                @*Building types*@
                <h1 style="font-size:large">@this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.BuildingType))</h1>
                <div class="row">
                    @for (int i = 0; i < Model.BuildingTypes.Count; i++)
                    {
                        <div class="col">
                            <input asp-for="BuildingTypes[i].IsChecked" class="form-check-input" />
                            <input asp-for="BuildingTypes[i].Id" type="hidden" />
                            <label class="form-check-label">@Model.BuildingTypes[i].Name</label>
                        </div>
                    }
                    <br />
                    <br />
                </div>
                <br />
                <br />

                <partial name="_MoreDetails" model="Model" />
                <br />
                <br />

                @*Description*@
                <div class="form-group">
                    <h1 style="font-size:large">
                        <label>
                            @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.Description))
                        </label>
                    </h1>
                    <textarea class="form-control" asp-for="Description" rows="4"
                              placeholder=" @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.MoreInfo))">
                </textarea>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <h1 style="font-size:large">
                        <label>
                            @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.Options))
                        </label>
                    </h1>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="Option" id="Option" value="sale" checked>
                        <label class="form-check-label">
                            @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.Sale))
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="Option" id="Option" value="rent">
                        <label class="form-check-label">
                            @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.Rent))
                        </label>
                    </div>
                </div>
                <br />
                <div class="col-3">

                    @*Price*@
                    <h1 style="font-size:large">
                        <label>
                            @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.Price))
                        </label>
                    </h1>
                    <input asp-for="Price" class="form-control"
                           placeholder="@this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.PriceInEUR))" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <br />

                @*Expiration Date*@
                <div class="col-3">
                    <h1 style="font-size:large">
                        <label>
                            @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.ExpirationDays))
                        </label>
                    </h1>
                    <select class="form-select" asp-for="ExpirationDays">
                        <option value="30">30 days</option>
                        <option value="60">60 days</option>
                        <option value="90">90 days</option>
                    </select>
                    <span asp-validation-for="ExpirationDays" class="text-danger"></span>
                </div>
                <br />

                @*Contacts*@

                <h1 style="font-size:large">
                    <label>
                        @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.ContactModel))
                    </label>
                </h1>
                <div class="property-contact">
                    <div class="row">
                        <div class="col-md-12 mb-1">
                            <div class="form-group">
                                <input asp-for="ContactModel.Names" class="form-control form-control-lg form-control-a" id="inputName" placeholder="Name *" required="">
                            </div>
                        </div>
                        <div class="col-md-12 mb-1">
                            <div class="form-group">
                                <input type="email" asp-for="ContactModel.Email" class="form-control form-control-lg form-control-a" id="inputEmail1" placeholder="Email *" required="">
                            </div>
                        </div>
                        <div class="col-md-12 mb-1">
                            <div class="form-group">
                                <input class="form-control form-control-lg form-control-a" type="tel" asp-for="ContactModel.PhoneNumber" placeholder="Phone number" />
                            </div>
                        </div>
                        <span asp-validation-for="ContactModel" class="text-danger"></span>
                        <span asp-validation-for="ContactModel.Names" class="text-danger"></span>
                        <span asp-validation-for="ContactModel.Email" class="text-danger"></span>
                        <span asp-validation-for="ContactModel.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                @*Buttons*@
                <br />
                <h1 style="font-size:large">
                    <label>
                        @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.ChooseImage))
                    </label>
                </h1>
                <div class="row">
                    <div class="col-md-12">
                        <input type="file" class="a" name="images" multiple />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b">@this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.Add))</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/jquery.poplatedplacesgetter.js"></script>
}

