@model SearchViewModel

@{
    ViewData["Title"] = "Property";
    PaginationModel paginationModel;
    paginationModel = this.ViewBag.Pager;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <a class="btn btn-outline-success" asp-area="" asp-controller="Property" asp-action="Add" role="button">
                @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(BaseLanguage.Add))
            </a>
            <button class="btn btn-outline-success" id="Search">@this.translateService.TranslateTo(CurrentSystemLanguage, nameof(BaseLanguage.Search))</button>
        </div>
    </div>
</div>

<partial name="_SearchForm" id="test" />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
                @if (Model.AllProperties == null)
                {
                    <h1 class="title-single">Няма добавени обяви</h1>
                }
                else
                {
                    <h1 class="title-single">Our Amazing Properties</h1>
                }
            </div>
        </div>
    </div>
</div>

<section class="property-grid grid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="grid-option">
                    <span class="link-1">Сортирай</span>
                    <form method="post">
                        <select class="custom-select" id="optionTypes">
                            <option value="@Model.CurrentOptionType">@Model.CurrentOptionType</option>
                            @foreach (var option in Model.OptionTypeModels)
                            {
                                if (option.CompareTo(Model.CurrentOptionType) != 0)
                                {
                                    <option value="@((int)option)">@option</option>
                                }
                            }
                        </select>
                    </form>
                </div>
            </div>
            @if (Model.AllProperties != null)
            {
                <partial name="_PropertyViewPartial" model="Model.AllProperties" />
            }
        </div>
    </div>
    <partial name="_PaginationPartial" model="@paginationModel" />
</section>

@section Scripts {
    <script src="~/js/searchFormHider.js"></script>
    <script src="~/js/propertySorter.js"></script>
    <script src="~/js/jquery.poplatedPlacesGetter.js"></script>
}