@model SearchViewModel

@{
    ViewData["Title"] = "Property";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <a class="btn btn-outline-success" asp-controller="Property" asp-action="Add" role="button">Add</a>
            <button class="btn btn-outline-success" id="Search">Search</button>
        </div>
    </div>
</div>

<partial name="_SearchForm" id="test" />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
                <h1 class="title-single">Our Amazing Properties</h1>
                <span class="color-text-a">Grid Properties</span>
            </div>
        </div>
    </div>
</div>

<section class="property-grid grid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="grid-option">
                    <form method="post">
                        <select class="custom-select" id="optionTypes">
                            <option value="@Model.CurrentOptioType">@Model.CurrentOptioType</option>
                            @foreach (var option in Model.OptionTypeModels)
                            {
                                if (option.CompareTo(Model.CurrentOptioType) != 0)
                                {
                                    <option value="@((int)option)">@option</option>
                                }
                            }
                        </select>
                    </form>
                </div>
            </div>
            @foreach (var property in Model.AllProperties)
            {
                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="@ImagePath/@property.ImageName" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a asp-controller="Property" asp-action="PropertySingle" asp-route-id="@property.Id">
                                            @property.PropertyTypeName
                                            <br /> @property.PopulatedPlace.LocationName
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">@property.Option | @property.Price</span>
                                    </div>
                                    <a asp-controller="Property" asp-action="PropertySingle" asp-route-id="@property.Id" class="link-a">
                                        Click here to view
                                        <span class="bi bi-chevron-right"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">Area</h4>
                                            <span>
                                                @property.Size<span>m</span>
                                                <sup>2</sup>
                                            </span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Beds</h4>
                                            <span>@property.TotalBedRooms</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Baths</h4>
                                            <span>@property.TotalBathRooms</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Garages</h4>
                                            <span>@property.TotalGarages</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/searchFormHider.js"></script>
    <script src="~/js/propertySorter.js"></script>
    <script src="~/js/jquery.poplatedPlacesGetter.js"></script>
}