@using System.Globalization;
@model IEnumerable<PropertyViewModel>

@{
    ViewData["Title"] = "My Properties";

    PaginationModel paginationModel;
    paginationModel = this.ViewBag.Pager;
    var isFromExpired = this.ViewBag.IsFromExpired;
}

<div class="container-fluid">
    <div class="row">
        <div class="title-single-box">
            @if (Model.Count() == 0)
            {
                if (isFromExpired)
                {
                    <h1 class="title-single font-monospace text-danger text-center">@translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.YouHaveNotUnactiveProperties)) </h1>
                    <a class="btn btn-outline-success" asp-controller="Account" asp-action="ActiveProperties" role="button">Active</a>
                }
                else
                {
                    <h1 class="title-single font-monospace text-danger text-center">
                        @translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.YouHaveNotAddedProperties))
                    </h1>

                    <a class="btn btn-outline-success align-center" asp-controller="Property" asp-action="Add" role="button">
                        @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.Add))
                    </a>
                    <a class="btn btn-outline-danger" asp-controller="Account" asp-action="ExpiredProperties" role="button">Expired</a>
                }
            }
            else
            {
                if (Model.Any(p => !p.IsExpired))
                {
                    <h1 class="title-single font-monospace text-center text-success">@this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.MyActiveProperties)) </h1>

                    <a class="btn btn-outline-success" asp-controller="Property" asp-action="Add" role="button">
                        @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.Add))
                    </a>
                    <a class="btn btn-outline-danger" asp-controller="Account" asp-action="ExpiredProperties" role="button">
                        @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.Expired))
                    </a>
                }
                else
                {
                    <h1 class="title-single font-monospace text-danger text-center">@this.translateService.TranslateTo(CurrentSystemLanguage, nameof(LanguageBase.ExpiredProperties)) </h1>
                    <br />
                    <a class="btn btn-outline-success" asp-controller="Account" asp-action="ActiveProperties" role="button">Active</a>
                }
            }
        </div>
    </div>
</div>
<br>
<br>
<br>
<section class="property-grid grid">
    <div class="container-fluid">
        <div class="row">
            <partial name="_LeftSideBarMenu" />
            @foreach (var property in Model)
            {
                <div class="col-md-4 col-sm-6 col-lg-3">
                    <div class="col-12">
                        <button class="btn btn-link">
                            <a asp-controller="Property" asp-action="Edit" asp-route-propertyId="@property.Id">
                                <i class="bi bi-pencil link-primary col-3">Edit</i>
                            </a>
                        </button>

                        <div class="btn btn-link color-d">
                            <a onclick="Confirm('@property.Id')">
                                <i class="bi bi-trash3 link-danger col-3">Remove</i>
                            </a>
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                    <br>
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="@property.Images.FirstOrDefault().Url" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a asp-controller="Property" asp-action="PropertySingle" asp-route-id="@property.Id">
                                            @property.PropertyTypeName
                                            <br /> @property.PopulatedPlace.Location.Name
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <p class="intro-subtitle intro-price">
                                            <span class="price-a">@property.Option | @property.PriceFormat())</span>
                                        </p>
                                    </div>
                                    <div class="price-box d-flex">
                                        @if (property.ExpirationDays <= 0)
                                        {
                                            <span class="price-a text-bg-danger"> @property.ExpireMessage</span>
                                        }
                                        else
                                        {
                                            <span class="price-a text-bg-danger">
                                                Expired after:
                                                @property.ExpirationDays
                                            </span>
                                        }
                                    </div>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">Area</h4>
                                            <span>
                                                @property.Size<span>m</span>
                                                <sup>2</sup>
                                            </span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Beds</h4>
                                            <span>@property.TotalBedRooms</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Baths</h4>
                                            <span>@property.TotalBathRooms</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Garages</h4>
                                            <span>@property.TotalGarages</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <partial name="_PaginationPartial" model="@paginationModel" />
</section>
@section Scripts {
    <script>
        function Confirm(value) {
            let message = "Are you sure?";

            if (confirm(message)) {
                console.log(value);
                var propertyId = value;
                $.ajax({
                    type: 'POST',
                    dataType: "JSON",
                    url: "/Account/RemoveUserProperty",
                    cors: true,
                    data: { propertyId: propertyId },
                    success:
                        function (response) {
                            if (response.data) {
                                console.log("Redirected");
                                window.location.href = "/Account/ActiveProperties";
                            }
                        }
                });
            }
        }
    </script>
    <script src="~/js/searchFormHider.js"></script>
    <script src="~/js/propertySorter.js"></script>
    <script src="~/js/jquery.poplatedPlacesGetter.js"></script>
}