@model AddPropertyModel


@*<div class="form-group">
    <input type="text" class="form-control" list="select-list-id" />
</div>
<datalist id="select-list-id">
    <option value="What was your childhood nickname?"></option>
    <option value="In what city did you meet your spouse/significant other?"></option>
</datalist>*@
@{
    ViewData["Title"] = "Add property";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 align-content-center">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="PropertyTypeName"></label>
                    <input asp-for="PropertyTypeName" class="form-control" list="properties" placeholder="Select property type..." />
                </div>
                <datalist id="properties">
                    @foreach (var type in Model.PropertyTypes)
                    {
                        <option value="@type.Name"></option>
                    }
                </datalist>
                <br\>
                    <div class="form-group">
                        <label asp-for="PlaceName"></label>
                        <input asp-for="PlaceName" class="form-control" list="places" placeholder="Select place..." />
                    </div>
                    <datalist id="places">
                        @foreach (var place in Model.Places)
                        {
                            <option value="@place.Name"></option>
                        }
                    </datalist>
                    <br\>
                        <div class="form-group">
                            <label asp-for="DistrictName"></label>
                            <input asp-for="DistrictName" class="form-control" list="districts" placeholder="Select district..." />
                        </div>
                        <datalist id="districts">
                            @foreach (var district in Model.Districts)
                            {
                                <option value="@district.Name"></option>
                            }
                        </datalist>
                        <br\>
                            <label asp-for="BuildingTypes"></label>
                            <br />
                            <select asp-for="BuildingTypeName" class="form-control">
                                @foreach (var buildingType in Model.BuildingTypes)
                                {
                                    <option value="@buildingType.Name">@buildingType.Name</option>
                                }
                            </select>
                            <br />
                            <br />
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea class="form-control" asp-for="Description" rows="4" placeholder="More info..."></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="Option"></label>
                                <br />
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="Option" id="Option" value="sale" checked>
                                    <label class="form-check-label">Sale</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="Option" id="Option" value="rent">
                                    <label class="form-check-label">Rent</label>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <span>Select Images:</span>
                                <br />
                                <input type="file" name="images" multiple />
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary mb-4">Add</button>
            </form>
        </div>
    </div>
</div>
